name: Deploy Website

on:
  push:
    branches: [ main ]
    paths:
      - 'server/ingitdb.com/**'

jobs:
  deploy-website:
    name: Deploy Website
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v6

      - name: Deploy website
        uses: ./.github/actions/deploy-website
        with:
          gcloud_project_id: ${{ vars.GCLOUD_PROJECT_ID || 'ingitdb' }}
          firebase_target: ${{ vars.FIREBASE_TARGET || 'ingitdb-com' }}
          firebase_config_path: server/firebase.json
          workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER || 'projects/152447355531/locations/global/workloadIdentityPools/github/providers/ingitdb' }}
          node_version: "20"
